* {
  margin: 0;
  padding: 0; }

div .titulo {
  color: white;
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  font-size: 80px; }

/* Indumentaria */
/* Indumentaria */
/* Footer */
/* Footer */
.section div p {
  color: #e72b2b;
  background-color: bisque;
  width: 200px;
  height: 120px;
  padding: 26px 0px; }

footer {
  color: chartreuse;
  background-color: #da8e2a;
  text-align: center;
  font-size: 30px; }

.listas {
  font-family: 'Leckerli One', cursive;
  width: 1901px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .listas iframe {
    background-color: black;
    width: 800px;
    height: 400px;
    padding: 40px 565px; }

.titulo {
  color: white;
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  font-size: 80px; }

.propaganda video {
  background-color: black;
  width: 800px;
  height: 400px;
  padding: 40px 565px; }

.indumentaria {
  width: 200px;
  height: 200px; }

/* MENU */
ul {
  text-decoration: none;
  display: inline-block;
  padding: 20px 0px;
  margin: 20px 200px; }
  ul .menu {
    background-color: #761acc;
    text-decoration: none;
    display: inline-block;
    padding: 20px 60px;
    border: solid rgba(81, 223, 100, 0.829); }
  ul a {
    font-size: 25px;
    text-decoration: none;
    color: rgba(81, 223, 100, 0.829); }

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 1748px;
  width: 1311px;
  margin: 21px 274px; }
  .section div {
    width: 276px;
    height: 405px;
    margin: 10px 1px;
    padding: 10px 36px;
    background-color: black;
    border: double #1acc6a; }
  .section .indumentaria {
    height: 200px;
    width: 200px; }

.div__contacto {
  text-align: center; }

.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: black;
  color: white; }

iframe {
  width: 100px; }

footer img {
  height: 35px;
  width: 35px;
  margin-bottom: 6px;
  margin-right: 8px; }

footer a {
  font-family: 'Leckerli One', cursive;
  text-decoration: none;
  font-size: 20px;
  margin: 50px 10px; }

footer a:hover {
  color: #21dd50; }

/* GRID */
.padreGrid {
  background-color: #6688e6;
  height: 2925px;
  width: 1935px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 151px 134px 480px 800px 36px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titulo" "listas" "propaganda" "section" "footer"; }

.titulo {
  grid-area: titulo; }

.listas {
  grid-area: listas; }

.ratio {
  grid-area: propaganda; }

.section {
  grid-area: section; }

.footer {
  grid-area: footer; }

.padreGrid__2 {
  height: 1137px;
  width: 1939px; }

@media (max-width: 800px) {
  .padreGrid {
    background-color: #6688e6;
    height: 2345px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 151px 134px 480px 800px 36px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "titulo" "listas" "propaganda" "section" "footer"; }
  .titulo {
    grid-area: titulo; }
  .listas {
    grid-area: listas; }
  .propaganda {
    grid-area: propaganda; }
  .section {
    grid-area: section; }
  .footer {
    grid-area: footer; }
  .padreGrid__2 {
    height: 2011px; }
  .medida__fondo {
    width: 770px; }
  .listas {
    height: 169px;
    width: 739px;
    display: flex;
    flex-direction: row;
    align-items: center; }
  ul {
    margin: 0; }
  .menu {
    background-color: #761acc;
    display: inline-block;
    padding: 15px 26px;
    border: solid rgba(81, 223, 100, 0.829); } }

/* ANIMACIONES */
.menu:hover {
  animation: change-color 3s; }

@keyframes change-color {
  10% {
    background-color: #eca303; }
  20% {
    background-color: #61a52a; }
  50% {
    background-color: #06d439; }
  75% {
    background-color: #3506df; }
  90% {
    background-color: #d615c6; } }

.titulo {
  transition: all 2s; }

.titulo:hover {
  transform: rotate(360deg) scale(2); }
